<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/form-styles.css">
    <title>Calendario de Festivos</title>
</head>
<body>

<div class="container">
    <div id="datepicker" class="my-2 row d-flex justify-content-center"></div>
</div>


<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="/static/js/jquery-3.5.1.min.js"></script>

<script src="/static/js/popper.min.js"></script>

<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/bootstrap-datepicker.min.js"></script>
<script src="/static/js/bootstrap-select.min.js"></script>
<!-- Agrega el archivo de idioma para español -->
<script src="/static/js/bootstrap-datepicker.es.min.js"></script>
<script src="/static/js/calendar.js"></script>
</body>
</html>